@import "../../../common/style/sass/variables";
@import "../../../common/style/sass/mixins";

.inputContainer {
  .groupForm {
    span {
      margin-bottom: 5px;
      @include title(14px, var(--text-color), 700, uppercase);
      letter-spacing: 0.05em;
      text-indent: 30px;
      display: block;
      b {
        color: $secondTextColor;
      }
    }
    input {
      padding: 0 30px;
      font-family: "Jost", sans-serif;
      font-size: 16px;
      color: var(--text-color);
      resize: none;
      outline: 0;
      font-weight: 400;
      border: 3px solid var(--border-button);
      border-radius: 30px;
      background-color: var(--noColor);
    }
  }
}