@import "../../common/style/sass/variables";
@import "../../common/style/sass/mixins";
@import "../../theme.css";

.mainContainer {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);

  .meContainer {
    position: relative;
    background-color: var(--main-color);
    min-height: 100vh;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 1100px) {
      flex-direction: column-reverse;
      margin-bottom: 60px;
    }

    .info {
      @media screen and (max-width: 870px) {
        text-align: center;
      }

      .titles {
        .greetings {
          @include title(15px, var(--text-color), 700, uppercase);
          letter-spacing: 0.05em;

          b {
            color: $secondTextColor;
          }
        }

        .name {
          @include title(90px, white, 700, uppercase);
          line-height: 1.2;
          letter-spacing: 0.05em;
          margin: 15px 0 0 0;
          text-shadow: 2px 2px black,
          -2px 2px black, 2px -2px black,
          -2px -2px black,
          5px 5px 0px rgb(0 0 0 / 20%);;
          @media screen and (max-width: 500px) {
            @include title(45px, white, 700, uppercase);
          }

          b {
            color: $secondTextColor;
          }
        }

        .iAm {
          @include title(15px, var(--text-color), 700, uppercase);
          letter-spacing: 0.05em;

          strong {
            @include title(30px, var(--text-color), 700, none);
            font-family: 'Caveat', sans-serif;
            letter-spacing: 0;
            margin-left: 10px;
          }
        }
      }

      .descriptionLinks {
        max-width: 520px;
        font-size: 18px;
        padding: 40px 0 40px 0;

        p {
          margin: 0;
          color: var(--me-info);
        }

        .links {
          margin-top: 30px;

          a {
            margin-top: 0;
            margin-right: 15px;
            margin-left: 0;
            position: relative;
            display: inline-block;
            vertical-align: top;

            svg {
              fill: var(--text-color);

              &:hover {
                fill: $secondTextColor;
                transition: 0.5s;
              }
            }
          }

        }
      }

      .buttons {
        button {
          height: 56px;
          padding: 0 40px;
          position: relative;
          display: inline-block;
          vertical-align: top;
          font-family: 'Jost', sans-serif;
          @include title(13px, var(--text-color), 700, uppercase);
          border: 2px solid var(--border-button);
          line-height: 52px;
          letter-spacing: 0.05em;
          cursor: pointer;
          background: transparent;
          box-shadow: 5px 5px var(--shadow);
          -webkit-border-radius: 56px;

          &:hover {
            background-color: $secondTextColor;
            color: var(--noColor);
            transition: 0.5s;
          }
        }

        .mySkills {
          padding-left: 70px;
          height: 56px;
          line-height: 56px;
          position: relative;
          display: inline-block;
          vertical-align: top;
          @include title(13px, var(--text-color), 700, uppercase);
          letter-spacing: 0.05em;
          text-decoration: none;

          &::before {
            content: '';
            position: absolute;
            left: -1px;
            top: 50%;
            margin-top: -1px;
            height: 2px;
            width: 40px;
            background: var(--text-color);
          }
        }
      }
    }

    .photo {

      margin-top: 75px;
      @media screen and (max-width: 1100px) {
        margin-bottom: 60px;
      }

      .circle {

        width: 680px;
        height: 680px;
        background-color: $secondTextColor;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat ;
        position: relative;
        overflow: hidden;
        img {
          filter: grayscale(15%);
          @media screen and (max-width: 710px) {
            width: 400px;
          }
        }

        @media screen and (max-width: 710px) {
          width: 350px;
          height: 350px;
          border-radius: 100%;
        }
      }
    }
  }
}




