@import "../../../common/style/sass/mixins";
@import "../../../common/style/sass/variables";

.infoItem {
  display: flex;
  margin-bottom: 41px;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: var(--noColor);
    border: 2px solid var(--text-color);
    box-shadow: 5px 5px 0 0 var(--shadow);
    text-align: center;
    position: relative;
    border-radius: 50%;
    svg {
      fill: var(--text-color);
    }
    &::after{
      margin-top: -1px;
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      width: 40px;
      height: 2px;
      background: var(--text-color);
    }
  }
  .desc {
      margin-left: 70px;
    .title {
      @include title(30px, var(--text-color), 700, none);
      line-height: 1;
      font-family: 'Caveat', sans-serif;
      padding: 14px 0;
    }
    .text {
      @include title(16px, var(--text-color), 400, none);
      line-height: 1.7;
      opacity: 0.8;
    }
  }

}