@import "../../common/style/sass/mixins";
@import "../../common/style/sass/variables";

.mainContainer {
  display: flex;
  justify-content: center;
  background-color: $mainColor;
  min-height: 100vh;

  .contactsContainer {
    position: relative;
    width: 60%;
    @media screen and (max-width: 484px){
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    .formAndInfo {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1100px){
        flex-direction: column;
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .form {
        display: flex;
        flex-wrap: wrap;
        margin-left: 70px;
        row-gap: 40px;
        @media screen and (max-width: 1380px){
          flex-direction: column;
          row-gap: 40px;
          margin: 0 0 30px 0;
          width: 100%;
          padding: 0 40px;
        }
        .oneFloor {
          display: flex;
          width: 100%;
          justify-content: space-between;
          column-gap:30px ;
          @media screen and (max-width: 1380px){
            flex-direction: column;
            row-gap: 40px;
          }
        }
        .buttons {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          button {
            height: 56px;
            padding: 0 40px;
            position: relative;
            display: inline-block;
            vertical-align: top;
            font-family: 'Jost', sans-serif;
            @include title(13px, $textColor, 700, uppercase);
            border: 2px solid $textColor;
            line-height: 52px;
            letter-spacing: 0.05em;
            outline: none !important;
            cursor: pointer;
            background: transparent;
            box-shadow: 5px 5px rgb(0 0 0 / 20%);
            -webkit-border-radius: 56px;
            &:hover {
              background-color: $secondTextColor;
              color: $white;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}